/*initializing emelments not in components*/
html {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

#application {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

.CodeMirror {
    height: auto;
}

.lessonNavigation {
    text-align: center;
}

/*custom fonts*/
@font-face {
    font-family: "IBM Bios";
    src: url("fonts/Px437_IBM_BIOS.ttf");
}

/*default styling*/
.asciiLite {
    font-family: IBM Bios, Arial;
    color: #90cbe6;
    /*display: inline;*/
    box-shadow: 0 0 0 .3em #004a7b;
    background-color: #004a7b;
}

.asciiLiteNoBackground {
    opacity: 0;
    overflow: auto;
}

/*Monadic logo*/
.logo {
    font-family: IBM Bios, Arial;
    font-size: 4em;
    color: #90cbe6;
    display: inline;
    background: #004a7b;
    /*box-shadow:.5em 0 0 #004a7b, .5em 0 0 #004a7b;*/
    padding:  .3em;
}

/*this is the registration/login section*/
.regMain {
    background-image: url("../img/lofi.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: center;
    top: 0;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.rForm {
    font-family: IBM Bios, Arial;
}

/*splash page styling*/
.spMain {
    background-color: #ffa3e2;
}

/*lesson page*/
.lessonBody {
    padding: 3em;
}

.lessonContainer {
    width: 100%;
}

div.lessTxt p {
    text-align: left;
    font-size: 1.2em;
    word-wrap: break-word;
}

div.rightCode p {
    text-align: left;
    font-size: 1.0em;
    word-wrap: break-word;
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    background-color: #272822;
    text-decoration: overline;
    text-decoration-color: #00d95a;
    color: #00d95a;
}

div.wrongCode p {
    text-align: left;
    font-size: 1.0em;
    word-wrap: break-word;
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    background-color: #272822;
    text-decoration: overline;
    text-decoration-color: #eb072d;
    color: #eb072d;
}

div.CodeMirror.cm-s-monokai {
    text-align: left!important;
    font-size: 1.2em;
}

@media (max-width: 1000px) {
    .logo {font-size: 3em;}
}

@media (max-width: 700px) {
    .logo {font-size: 2em;}
}

@media (max-width: 500px) {
    .logo {font-size: 1.5em;}
}

/*const Space = window.styled.div`*/
/*              background-image: url("/img/outrspc2.gif");*/
/*height: auto;*/
/*position: absolute;*/
/*left: 0;*/
/*width: auto;*/
/*background-size: auto auto;*/
/*`;*/

/*const EarthBound = window.styled.div`*/
/*                   background-image: url("/img/back2.jpg");*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*background-size: cover;*/
/*height: 100%;*/
/*`;*/

/*const LessonBack = window.styled.div`*/
/*                   font-family: "Times New Roman", Times, serif;*/
/*color: white;*/
/*text-align: left;*/
/*font-size: 1em;*/
/*`;*/

/*const NoBullet = window.styled.div`*/
/*                 list-style: none;*/
/*`;*/

/*const Format = window.styled.div`*/
/*               font-family: "Comic Sans MS", "Comic Sans", cursive;*/
/*color: white;*/
/*text-align: center;*/
/*font-size: 1em;*/
/*list-style: none;*/
/*`;*/

/*const Title = window.styled.h1`*/
/*              font-size: 5em;*/
/*text-align: center;*/
/*color: white;*/
/*`;*/